<form autocomplete="off">

    <div class="header-container">
        <img class="weapon-image" src="{{item.img}}" data-edit="img" title="{{item.name}}" style="{{#if item.system.absolute}}box-shadow: inset 0 0 6px #f0d052;border-color: #f0d052;{{else}}border-color: rgb(255, 255, 255);{{/if}}">
        <div class="header-text">
            <h1 class="header-text"><input class="name" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <h3 class="header-text">
                <select name="system.type" class="weapon-type">
                    {{selectOptions config.weaponTypes selected=item.system.type}}
                </select>
            </h3>
        </div>
    </div>
    <div class="weapon-description">
        <input name="system.description" class="item-description" type="text" value="{{item.system.description}}" placeholder="Description"/>
    </div>  
    <div class="weapon-traits">
        <h2 class="weapon-traits-header">WEAPON PERKS</h2>
    </div>

</form>